<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-4 text-center top-margin">
    <div>
      <h2><%= @user.name %></h2>
    </div>
    <div class="form-group">
      <%= form_for @user do |f| %>
        <%= f.label :zipcode, class: "sr-only" %>
        <%= f.text_field :zipcode, placeholder: "zipcode", class: "form-control" %>
        <%= f.label :email, class: "sr-only" %>
        <%= f.text_field :email, placeholder: "email", class: "form-control" %>
        <br>
        <%= f.submit "Update", class: "btn btn-default btn-lg" %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-4">
  </div>
</div>
