<div class="row legislator-block">
  <div class="col-xs-12">
    <h3 class="legislator-name"><%= legislator.full_name_and_title %></h3>
    <div class="tiny-text">
      <a href="<%= legislator.facebook_url %>"><i class="fa fa-facebook-square"></i></a>
      <a href="<%= legislator.twitter_url %>"><i class="fa fa-twitter-square"></i></a>
      <a href="<%= legislator.youtube_url %>"><i class="fa fa-youtube-square"></i></a> |
      <%= legislator.phone %> | <%= legislator.office %> | <a href="<%= legislator.website %>"><%= legislator.website %></a>
    </div>
    <hr>
    <h4>Top Funding Contributors (by campaign cycle)</h4>
    <ul class="nav nav-tabs">
      <% election_cycles.each do |year| %>
        <li role="presentation"><%= link_to year, legislators_path(cycle: year) %></li>
      <% end %>
    </ul>
    <table class="table contributors_for_legislator_<%= legislator.id %>">
      <thead>
        <tr>
          <th>Organization</th>
          <th>Individual</th>
          <th>PAC</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "contributors/row", collection: legislator.contributors.cycle(year) %>
      </tbody>
    </table>
  </div>
</div>
<hr>
