<div class="container">
  <div class="row top-margin">
    <div class="col-xs-12 center-block">
      <h1>My Legislators</h1>
    </div>
  </div>
  <div class=row>
    <div class="col-xs-12 center-block">
      <% @legislators.each do |legislator| %>
      <hr>
      <h3><%= legislator.full_name_and_title %></h3>
      <a href="<%= legislator.facebook_url %>"><i class="fa fa-facebook-square fa-2x"></i></a>
      <a href="<%= legislator.twitter_url %>"><i class="fa fa-twitter-square fa-2x"></i></a>
      <a href="<%= legislator.youtube_url %>"><i class="fa fa-youtube-square fa-2x"></i></a>
      <h4>Top Funding Contributors</h4>
      <table class="table contributors_for_legislator_<%= legislator.id %>">
        <thead>
          <tr>
            <th>Organization</th>
            <th>Individual</th>
            <th>PAC</th>
            <th>Total</th>
          </tr>
        </thead>
        <% legislator.contributors.each do |contributor| %>
          <tbody>
            <tr>
              <td><%= contributor.name %></td>
              <td><%= number_to_currency(contributor.employee_amount) %></td>
              <td><%= number_to_currency(contributor.direct_amount) %></td>
              <td><%= number_to_currency(contributor.total_amount) %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
      <% end %>
    </div>
  </div>
</div>
